.base-switch {
  @apply flex items-center gap-1;
}
.base-switch .box {
  @apply bg-gray-400 p-[5px] flex items-center w-[60px] h-[30px] rounded-[15px] cursor-pointer;
  transition: background-color 0.3s ease;
}
.base-switch .box:hover {
  @apply bg-gray-300;
}

.base-switch .switch-circle {
  @apply bg-blueGray-50 w-[20px] h-[20px] rounded-full;
  transition: transform 0.3s ease;
}

.is-on {
  @apply !bg-blue-400;
}
.is-on .switch-circle {
  transform: translateX(30px);
}

.base-switch .label {
  @apply text-[16px] font-bold text-black dark:text-white;
}
