.skeleton-loader {
  @apply bg-blueGray-600 overflow-hidden rounded-md;
}

.skeleton-loader--text {
  @apply h-[16px] w-full;
}

.skeleton-loader--avatar {
  @apply rounded-[8px] h-[50px] w-[50px];
}

.skeleton-loader--image {
  @apply w-[300px] h-[150px];
}

.skeleton-loader::before {
  content: '';
  display: block;
  @apply w-full opacity-[0.4] h-full bg-gradient-to-r from-blueGray-dark-50 via-blueGray-light-400 to-blueGray-dark-50;
  animation: loadingShine 1s infinite;
}

/* neutral theme  */
.neutral .skeleton-loader {
  @apply bg-neutral-600;
}
.neutral .skeleton-loader::before {
  @apply bg-gradient-to-r from-neutral-600 via-neutral-300 to-neutral-600;
}
@keyframes loadingShine {
  from {
    transform: translateX(-100%);
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  to {
    transform: translateX(100%);
    opacity: 0.2;
  }
}
