.base-pagination {
  @apply flex items-center gap-1;
}

.base-pagination .page-item {
  @apply cursor-pointer hover:bg-blueGray-light-200;
}

.base-pagination .page-item,
.base-pagination .break-view-item {
  @apply flex items-center justify-center p-2 rounded-[16px] min-w-[48px] min-h-[48px];
}
.base-pagination .active {
  @apply bg-blueGray-50 text-blueGray-900 hover:bg-blueGray-50;
}
