.base-text-field .label {
  @apply text-[16px] font-bold text-black dark:text-white mb-2;
}
.base-text-field .input {
  @apply bg-transparent border border-solid border-blueGray-dark-200 dark:border-blueGray-light-200 rounded-2xl px-4 py-2 text-[16px] font-[400] min-h-[48px] text-blueGray-900 dark:text-blueGray-50 w-full;
  outline: none;
  transition: border-color 0.3s ease;
}
.base-text-field .input::placeholder {
  @apply dark:text-blueGray-light-500 text-blueGray-dark-400;
}
.base-text-field .input:hover {
  @apply dark:border-blueGray-50 border-blueGray-800;
}
.base-text-field.invalid .input:focus,
.base-text-field .input:focus {
  @apply dark:border-blueGray-50 dark:bg-blueGray-light-100 border-blueGray-800 bg-blueGray-dark-100;
  transition: background-color 0.3s ease;
}
.base-text-field.invalid .input {
  @apply border-rose-400;
}
.base-text-field.invalid .input {
  @apply border-rose-400;
}
.base-text-field.invalid .input:hover {
  @apply border-rose-300;
}
.base-text-field .message {
  @apply text-[16px] text-rose-400 mt-2 font-[400];
}

.base-text-field .input:disabled {
  @apply !border-blueGray-dark-200 dark:!border-blueGray-light-200;
}
