.base-text-field .label {
  @apply tw-text-[16px] tw-font-bold tw-text-black dark:tw-text-white tw-mb-2;
}
.base-text-field .input {
  @apply tw-border tw-border-solid tw-border-blueGray-dark-200 dark:tw-border-blueGray-light-200 tw-rounded-lg tw-px-4 tw-py-2 tw-text-[16px] tw-font-[400] tw-min-h-[48px] tw-text-blueGray-900 dark:tw-text-blueGray-50;
  outline: none;
  transition: border-color 0.3s ease;
}
.base-text-field .input::placeholder {
  @apply dark:tw-text-blueGray-light-500 tw-text-blueGray-dark-400;
}
.base-text-field .input:hover {
  @apply dark:tw-border-blueGray-50 tw-border-blueGray-800;
}
.base-text-field.invalid .input:focus,
.base-text-field .input:focus {
  @apply dark:tw-border-blueGray-50 dark:tw-bg-blueGray-light-100 tw-border-blueGray-800 tw-bg-blueGray-dark-100;
  transition: background-color 0.3s ease;
}
.base-text-field.invalid .input {
  @apply tw-border-rose-400;
}
.base-text-field.invalid .input {
  @apply tw-border-rose-400;
}
.base-text-field.invalid .input:hover {
  @apply tw-border-rose-300;
}
.base-text-field .message {
  @apply tw-text-[16px] tw-text-rose-400 tw-mt-2 tw-font-[400];
}

.base-text-field .input:disabled {
  @apply !tw-border-blueGray-light-200;
}
